DATABASE_URL=postgres+psycopg2://postgres:postgrespassword@localhost:5432/postgres
HASURA_GRAPHQL_JWT_SECRET={"type":"HS256", "key": "FAKEFAKEFAKEFAKEFAKEFAKEFAKEFAKEFAKEFAKEFAKEFAKEFAKEFAKEFAKEFAKE"}
PASSWORD_SALT=fakesalt
FLASK_ENV=development