* {
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size:  15px;
	color: #333;
}

body {
	padding: 50px;
}

header {
	display: flex;
	margin: 0 0 30px 0;
}

header > div {
	flex-direction: row;
}

.logo {
	width: 300px;
	margin: 10px 40px 0 0;
}

.contact {
	border-left: #333 3px solid;
	padding: 0 0 0 10px;
	font-size: 18px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	line-height: 18px;
}

.contact .icon {
	display: inline-block;
	margin: 0 10px 0 0;
	width: 25px;
	position: relative;
	top: 6px;
}

.contact li a {
	text-decoration: none;
	text-transform: uppercase;
}

.contract li span {
	text-transform: uppercase;
}

.company-info {
	font-size: 18px;
}

.company-info strong{
	display: inline-block;
	margin: 0 5px 0 0;
}

.loan-table {
	width: 100%;
	border-collapse: collapse;
}

.loan-table th,
.loan-table td {
	padding: 8px;
	vertical-align: top;
	text-align: center;
}

.loan-table th {
	background: #cbdfb8;
}

.loan-table tr:nth-child(even) td {
	background: #e5efdc;
}

.loan-table tr.summation:nth-child(even) td {
	background: #fff;
}

.loan-table tr th:nth-child(3),
.loan-table tr td:nth-child(3) {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
}

.loan-table tr.summation td:nth-child(10),
.loan-table tr.summation td:nth-child(11) {
	border-top: #333 2px solid;
}

.loan-table tr td:first-child {
	border-left: #cbdfb8 2px solid;
}

.loan-table tr td:last-child {
	border-right: #cbdfb8 2px solid;
}

.summary-header-table {
	font-size: 13px;
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

.summary-header-table td:nth-child(1) {
	text-align: left;
}

.summary-header-table td:nth-child(2) {
	text-align: right;
}

.summary-header-table .automatic-debit {
	display: inline-block;
	margin: 0 8px 0 0;
}

.summary-table {
	width: 100%;
	border-collapse: collapse;
	margin: 0;
}

.summary-table tr:first-child td {
	border-top: #cbdfb8 2px solid;
}

.summary-table tr:last-child td {
	border-bottom: #cbdfb8 2px solid;
}

.summary-table tr td:first-child {
	border-left: #cbdfb8 2px solid;
	width: 90%;
}

.summary-table tr td:last-child {
	border-right: #cbdfb8 2px solid;
	width: 10%;
}

.summary-table td {
	padding: 8px;
	vertical-align: top;
	text-align: right;
}

.loc-summary-row-table {
	font-size: 13px;
	width: 100%;
	border: #cbdfb8 2px solid;
	border-bottom: none;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	text-align: center;
}

.loc-summary-row-table th {
	width: 25%;
	padding: 5px;
	font-weight: normal;
	background: #cbdfb8;
}

.loc-summary-row-table td {
	padding: 5px;
}

.loc-summary-footer-table {
	text-align: right;
	width: 100%;
	font-size: 13px;
	border: #cbdfb8 2px solid;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

.loc-summary-footer-table td {
	padding: 5px;
}

.loc-summary-footer-table tr td:nth-child(1) {
	width: 80%;
}

.loc-summary-footer-table tr td:nth-child(2) {
	width: 20%;
}

