html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --table-accent-color: rgb(3, 169, 244, 1);
  --table-accent-color-opacity: rgb(3, 169, 244, 0.05);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dx-datagrid .dx-row:not(.dx-header-row) > td,
.dx-datagrid .dx-row:not(.dx-header-row) > tr > td {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  height: 50px !important;
}

.dx-datagrid .dx-header-row > td,
.dx-datagrid .dx-header-row > tr > td {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.dx-datagrid .dx-checkbox-indeterminate .dx-checkbox-icon::before {
  content: "+" !important;
  top: 30% !important;
}

#root {
  height: 100%;
}
