import json

from flask import request, make_response, current_app
from flask import Response, Blueprint
from flask.views import MethodView
from flask_jwt_extended import jwt_required, get_jwt_identity
from mypy_extensions import TypedDict
from typing import cast

from server.config import Config
from bespoke.db import models
from bespoke.db import db_constants, models
from bespoke.db.models import session_scope
from server.views.common.auth_util import UserSession
from server.views.common import handler_util
from server.views.common import auth_util

handler = Blueprint('purchase_order', __name__)

def make_error_response(msg: str) -> Response:
	return make_response(json.dumps({'status': 'ERROR', 'msg': msg}), 200)	

class ModifiedView(MethodView):

	@jwt_required
	def post(self) -> Response:
		form = json.loads(request.data)
		if not form:
			return make_error_response('No data provided')

		return make_response(json.dumps({
			'status': 'OK'
		}), 200)

handler.add_url_rule(
	'/modified', view_func=ModifiedView.as_view(name='modified_view'))
